<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>Create person form</title>
    <link
      rel="stylesheet"
      th:href="@{/styles.css}"
    />
  </head>
  <body>
    <h1>Create person form</h1>
    <form
      method="POST"
      th:action="@{/create}"
      th:object="${person}"
    >
      <h1>Create person</h1>
      <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
          Please correct the problems below and resubmit.
        </span>
      </div>
      <label for="name">Name:</label>
      <input
        type="text"
        th:field="*{name}"
      />
      <span
        class="validationError"
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
        >Name Error
      </span>
      <br />
      <label for="age">Age:</label>
      <input
        type="number"
        th:field="*{age}"
      />
      <span
        class="validationError"
        th:if="${#fields.hasErrors('age')}"
        th:errors="*{age}"
        >Age Error
      </span>
      <br />
      <label for="postalCode">Postal code:</label>
      <input
        type="text"
        th:field="*{postalCode}"
      />
      <span
        class="validationError"
        th:if="${#fields.hasErrors('postalCode')}"
        th:errors="*{postalCode}"
        >Postal code Error
      </span>
      <br />
      <label for="wage">Wage:</label>
      <input
        type="number"
        th:field="*{wage}"
      />
      <span
        class="validationError"
        th:if="${#fields.hasErrors('wage')}"
        th:errors="*{wage}"
        >Wage Error
      </span>
      <br />
      <label for="termsAndConditions">Accept terms and conditions:</label>
      <input
        type="checkbox"
        th:field="*{termsAndConditions}"
      />
      <span
        class="validationError"
        th:if="${#fields.hasErrors('termsAndConditions')}"
        th:errors="*{termsAndConditions}"
        >Term and conditions Error
      </span>
      <br />
      <input
        type="submit"
        value="Submit"
      />
    </form>
  </body>
</html>
